{:blocks (
{:block/created-at 1734935203033
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "目录"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 142]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "d8da7ce0-c0f6-11ef-ae0c-4b0e5e058bd5"
:noFill false
:point [544 240]
:parentId "6769028c-1d5b-445d-81c4-f73cf365c6a9"
:collapsedHeight 0
:nonce 1734935190448}}
:block/updated-at 1734935203033} 
{:block/created-at 1734935268279
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke "purple"
:index 1
:scale [1 1]
:scaleLevel "md"
:fill "purple"
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "eaa64df2-c0f6-11ef-ae0c-4b0e5e058bd5"
:fontWeight 400
:noFill true
:point [368 352.57]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 257.43]
:bindingId nil}
:end 
{:id "end"
:canBind true
:point [172 0]
:bindingId "0682df71-c0f7-11ef-ae0c-4b0e5e058bd5"}}
:decorations 
{:end "arrow"}
:parentId "6769028c-1d5b-445d-81c4-f73cf365c6a9"
:nonce 1734935221444
:italic false}}
:block/updated-at 1734935268279})
:pages (
{:block/uuid #uuid "6769028c-1d5b-445d-81c4-f73cf365c6a9"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "6769028c-1d5b-445d-81c4-f73cf365c6a9"
:name "白板001"
:bindings 
{:eaa64df1-c0f6-11ef-ae0c-4b0e5e058bd5 
{:id "eaa64df1-c0f6-11ef-ae0c-4b0e5e058bd5"
:type "line"
:fromId "eaa64df2-c0f6-11ef-ae0c-4b0e5e058bd5"
:toId "d8da7ce0-c0f6-11ef-ae0c-4b0e5e058bd5"
:handleId "end"
:point [0.46 0.49]
:distance 4}
:0682df71-c0f7-11ef-ae0c-4b0e5e058bd5 
{:id "0682df71-c0f7-11ef-ae0c-4b0e5e058bd5"
:type "line"
:fromId "eaa64df2-c0f6-11ef-ae0c-4b0e5e058bd5"
:toId "d8da7ce0-c0f6-11ef-ae0c-4b0e5e058bd5"
:handleId "end"
:point [0.1 0.37]
:distance 4}}
:nonce 1
:assets []
:shapes-index ("d8da7ce0-c0f6-11ef-ae0c-4b0e5e058bd5" "eaa64df2-c0f6-11ef-ae0c-4b0e5e058bd5")}}
:block/updated-at 1734935366035
:block/created-at 1734935180734
:block/type "whiteboard"
:block/name "白板001"
:block/original-name "白板001"})}